* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 540px);
    padding-right: calc(50% - 540px);
    /* max-width: 1200px; */
    /* Максимальная ширина */
    /* margin: 90px auto; */
    /* Автоматические отступы слева и справа */
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.header_link {
    color: white;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
}

.title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 70px;
    width: 500px;
    text-align: center;
}

.photo {
    width: 500px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 66px;
}

.about {
    background-color: #F4F4F4;
    padding-top: 64px;
    padding-bottom: 64px;
}

.heading {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 64px;

}

.about_content {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;


}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 320px;
    flex-wrap: wrap;
}

.skills_item {
    font-size: 100px;

}

.fa-html5 {
    color: red;
}

.fa-css3 {
    color: blue;
}

.fa-js {
    color: orange;
}

.about_info {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}

.about_text {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;

    line-height: 30px;


}

.portfolio {
    padding-top: 151px;
    padding-bottom: 151px;
}

.portfolio_content {
    margin-top: 40px;
}

.education_text {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;

    line-height: 30px;
}

.education_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 405px;
    flex-wrap: wrap;
}

.education_content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;


}

.education {
    background-color: #F4F4F4;
    padding-top: 64px;
    padding-bottom: 64px;
}

.contacts_link {
    font-family: Raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

}

.contacts {
    margin-top: 151px;
    margin-bottom: 151px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading_contacts {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-bottom: 36px;

}
.footer {
    display: flex;
    justify-content: center;
    gap: 29px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: black;
}